<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .name {
        background: greenyellow;
        color: black;
        padding: 5px;
        width: 250px;
    }
    .director{
        background: orange;
        color: black;
        padding: 5px;
        width: 250px;
    }
    .year{
        background: burlywood;
        color: black;
        padding: 5px;
        width: 250px;
    }
</style>

<title>Lisää elokuva</title>
<body style="background-color: rgb(231, 190, 163);">
<center>
<form action="/add_movie" method="POST" onsubmit="return check(this)">
    <div class="name"><h2>Elokuvan nimi:</h2>
    <input type="text" name="name"><br>
</div>
    <div class="director"> <h2>Ohjaaja:</h2>
    <input type="text" name="director"><br>
</div>
    <div class="year"><h2>Julkaisuvuosi:</h2>
    <input type="text" name="year"><br>
</div>
    <input type="submit" value="Lisää">
</form>

<script>
    function check(form){
        release = form.year.value
        if (form.name.value.length  > 200){
            alert("Liian pitkä elokuvan nimi");
            return false;
        }
        if (form.name.value.length == 0){
            alert("Elokuvan nimi jätettiin tyhjäksi");
            return false;
        }
        if (form.director.value.length > 200){
            alert("Liian pitkä ohjaajan nimi");
            return false;
        }
        if (form.director.value.length == 0){
            alert("Ohjaajan nimi jätettiin tyhjäksi");
            return false;
        }
        if (release < 1895){
            alert("Ensimmäinen elokuva julkaistiin vasta 1895");
            return false;
        }
        if (release > 2022){
            alert("Julkaisuvuosi liian suuri");
            return false;
        }
        if (isNaN(release)){
            alert("Julkaisuvuoden täytyy olla luku");
            return false;
        }
        return true;

    }
</script>
<br>

<a href="/library">Palaa takaisin</a>
</center>
</body>