<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lisää ohjaaja</title>

<style>
    .name {
        background: rgb(213, 233, 184);
        color: black;
        padding: 5px;
        width: 250px;
    }
    .year{
        background: rgb(255, 209, 122);
        color: black;
        padding: 5px;
        width: 250px;
    }
</style>
<body style="background-color: rgb(231, 190, 163);">
<center>
<form action="/add_director" method="POST" onsubmit="return check(this)">
    <div class="name"><h2>Ohjaajan nimi:</h2>
    <input type="text" name="name"><br>
    </div>
    <div class="year"><h2>Syntymävuosi:</h2>
    <input type="text" name="year"><br>
</div>
    <input type="submit" value="Lisää">
</form>

<script>
function check(form) {
    birth = form.year.value
    
    
    if (form.name.value.length > 100) {
        alert("Nimi on liian pitkä");
        return false;
    }
    if (form.name.value.length == 0) {
        alert("Nimeä ei täytetty");
        return false;
    }
    if (birth < 1862) {
        alert("Ensimmäisen elokuvan ohjaaja Auguste Marie Louis Nicolas Lumière syntyi vuonna 1862... vuotesi ei siis voi täsmätä");
        return false;
    } 
    if (birth>2022) {
        alert("Syntymävuosi ei voi olla tulevaisuudesta...");
        return false;
    }
    if (birth == 0) {
        alert("Syntymävuotta ei täytetty");
        return false;
    }
    if (isNaN(birth)){
        alert("Syntymävuoden täytyy olla luku");
        return false;
    }
    return true;

}
</script>
<br>

<a href="/library">Palaa takaisin</a>
</center>
</body>