<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .info{
        border: 2px solid black;
    }
    .movies{
        background: rgb(202, 202, 202);
        padding: 10px;
        width: 200px;
    }
</style>

<title>{{name}}</title>

<body style="background-color: rgb(231, 190, 163);">

<center><u><h1>{{name}}</h1></u>
<br>
<div class="info">
<h2>Syntynyt: {{age}}</h2>
<h2>Elokuvien keskiarvo: {{avg}}</h2><br>
</div>
<br>
<b>Elokuvat:</b>
<br>

{% for movie in movies %}
<div class="movies"><a href="/movie/{{movie.name}}">{{movie.name}}</a><br>
</div>
<br>
{% endfor %}
<br>
<a href="/library">Palaa takaisin kirjastoon</a>
</center>
</body>