
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Elokuvakirjasto etusivu</title>

<body>
<h1>Elokuvakirjasto</h1>

<h3>Kirjaudu sisään:</h3>

<form action="/send" method="POST">
    Käyttäjätunnus: <br>
    <input type="text" name="käyttäjätunnus"> <br>
    Salasana: <br>
    <input type="text" name="password" minlength="8" maxlength="20"><br>
    <br>
    <a href="/register">Rekisteröidy</a>

    
    
</form>
<h2>Tervetuloa elokuvakirjastoon!</h2>
<p>Elokuvakirjasto on sovellus, johon voit kirjata katsomiasi elokuvia, arvostella niitä sekä vertailla arvosteluja muiden käyttäjien kanssa</p>
</body>

