<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Elokuvakirjasto etusivu</title>
<body style="background-color: rgb(231, 190, 163);">
<center>
<h1>Elokuvakirjasto</h1>
<br>
<h2>Tervetuloa elokuvakirjastoon!</h2>
<p>Elokuvakirjasto on sovellus, johon voit kirjata katsomiasi elokuvia, arvostella niitä sekä vertailla arvosteluja muiden käyttäjien kanssa</p>



<br>
<a href="/login">Kirjaudu sisään</a>
<br>
<br>

<a href="/register">Rekisteröidy</a>


    
</form>

</center>
</body>
