
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Elokuvakirjasto</title>

<style>
    p{
        display:inline-block
    }
</style>

<h1>Käyttäjän {{username}} elokuvat</h1>
<br>
<a href="/logout">Kirjaudu ulos</a><br>
<br>

<p><a href="/add_movie">Lisää elokuva</a></p>&nbsp;&nbsp;&nbsp;&nbsp;<p><a href="/add_director">Lisää ohjaaja</a></p><br>
<br>
Elokuvasi:

<hr>
{% for movie in movies %}
<a href="/movie/{{movie.name}}">{{movie.name}}</a>
<hr>
{% endfor %}<br>
Ohjaajasi:
<hr>
{% for director in directors %}
<a href="/director/{{director.name}}">{{director.name}}</a>
<hr>
{% endfor %}