<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Elokuvakirjasto</title>

<style>
    p{
        display:inline-block
    }
    .movies{
        background: rgb(255, 209, 122);
        width: 300px;

    }
    .directors{
        background: rgb(213, 233, 184);
        width: 300px;
    }
</style>

<body style="background-color: rgb(231, 190, 163);">
<center><u><h1>Käyttäjän {{username}} elokuvat</h1></u>
<br>

<br>

<p><a href="/add_movie">Lisää elokuva</a></p>&nbsp;&nbsp;&nbsp;&nbsp;<p><a href="/add_director">Lisää ohjaaja</a></p><br>
<br>
<div class="movies"><b>Elokuvat:</b>
<br>
<br>


{% for movie in movies %}
<a href="/movie/{{movie.name}}">{{movie.name}}</a><br><br>

{% endfor %}<br>
</div>
<br>
<div class="directors"><b>Ohjaajat:</b>
<br>
<br>

{% for director in directors %}
<a href="/director/{{director.name}}">{{director.name}}</a><br><br>

{% endfor %}
</div>
<br>
<a href="/logout">Kirjaudu ulos</a><br>
</center>
</body>