<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{movie}}</title>
<style>
    p{
        display: inline-block
    }
</style>
<h1>{{movie}}</h1>
<br>
<body>
    <p>Ohjaaja: <a href="/director/{{movie_info.director}}">{{movie_info.director}}</a></p>&nbsp;&nbsp;&nbsp;&nbsp;</p>Julkaisu vuosi: {{movie_info.year}}</p>
    &nbsp;&nbsp;&nbsp;&nbsp;Keskiarvo: {{avg}}
    <br>
</body>
<a href="/rate_movie/{{movie}}">Arvostele</a>
<br>
<h3>Oma arvostelu:</h3>
Arvosana:<br>
{{omat.rating}}<br>
Arvostelu:<br>
{{omat.text}}<br>
<hr>
<h3>Muiden Arvostelut:</h3>
{% for arvostelut in muut %}
Käyttäjä:<br>
{{arvostelut.user_name}}<br>
Arvosana:<br>
{{arvostelut.rating}}<br>
Arvostelu:
{{arvostelut.text}}
<hr>
{% endfor %}

<a href="/library">Palaa takaisin kirjastoon</a>