<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{movie}}</title>
<style>
    p{
        display: inline-block
    }
    .info{
        border: 2px solid rgb(0, 0, 0);
    }
    .own{
        background: greenyellow;
        padding: 10px;
        width: 200px;
    }
    .others{
        background: orange;
        padding: 10px;
        width: 200px;
    }
</style>
<center>
<h1>{{movie}}</h1>
<br>
<div class="info">
    <h3>
    <p>Ohjaaja: <a href="/director/{{movie_info.director}}">{{movie_info.director}}</a></p>&nbsp;&nbsp;&nbsp;&nbsp;</p>Julkaisu vuosi: {{movie_info.year}}</p>
    &nbsp;&nbsp;&nbsp;&nbsp;Keskiarvo: {{avg}}
    <br>
</h3>
</div>
<br>
<a href="/rate_movie/{{movie}}">Arvostele</a>
<br>
<h3>Oma arvostelu:</h3>
<div class="own">Arvosana:<br>
{{omat.rating}}<br>
Arvostelu:<br>
{{omat.text}}<br>
</div>

<h3>Muiden Arvostelut:</h3>

{% for arvostelut in muut %}

<div class="others">{{arvostelut.user_name}}<br><br>
Arvosana:&nbsp;&nbsp;
{{arvostelut.rating}}<br><br>
Arvostelu:<br>
{{arvostelut.text}}
</div>
<br>
{% endfor %}

<br>

<a href="/library">Palaa takaisin kirjastoon</a>
</center>