<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Arvostele {{movie}}</title>
<h1>Arvostele {{movie}}</h1>

<form action="/rate_movie/{{movie}}" method="POST" onsubmit="return check(this)">
    Arvosana 1-10:<br>
    <input type="text" name="rating"><br>
    Lyhyt teksti:<br>
    <input type="text" name="text"> <br>
    <input type="submit" value="Lisää">
</form>

<script>
function check(form){
    rating = form.rating.value

    if (IsNaN(rating)){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (rating <= 0){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (rating > 10){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (form.text.value.length > 5000){
        alert("Arvostelu ei saa ylittää 5000 merkkiä");
        return false;
    }
    if (form.text.value.length < 2){
        alert("Arvostelun tekstin oltava vähintään 2 merkin pituinen");
        return false;
    }
    return true;
}
</script>