<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .box {
        background: rgb(255, 209, 122);
        color: black;
        padding: 20px;
        width: 200px;
    }
</style>

<title>Arvostele {{movie}}</title>
<body style="background-color: rgb(231, 190, 163);">
<center>
<h1>Arvostele {{movie}}</h1>

<form action="/rate_movie/{{movie}}" method="POST" onsubmit="return check(this)">
    <div class="box">Arvosana 1-10:<br>
    <input type="text" name="rating"><br>
    Lyhyt teksti:<br>
    <textarea name="text" rows=10></textarea> <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lisää">
</div>
</form>

<script>
function check(form){
    rating = form.rating.value

    if (IsNaN(rating)){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (rating <= 0){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (rating > 10){
        alert("Arvosanan täytyy olla luku väliltä 1-10");
        return false;
    }
    if (form.text.value.length > 5000){
        alert("Arvostelu ei saa ylittää 5000 merkkiä");
        return false;
    }
    if (form.text.value.length < 2){
        alert("Arvostelun tekstin oltava vähintään 2 merkin pituinen");
        return false;
    }
    return true;
}

</script>
<br>
<a href="/movie/{{movie}}">Palaa takaisin</a>
</center>
</body>