
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Elokuvakirjasto rekisteröidy</title>

<form action="/register" method="post" onsubmit="return check(this)">
    <h1>Rekisteröidy käyttäjäksi!</h1>
    Käyttäjätunnus: <br>
    <input type="text" name="username"> <br>
    Salasana (vähintään 8 merkkiä): <br>
    <input type="password" name="password1" minlength="8"><br>
    Salasana uudestaan:<br>
    <input type="password" name="password2" minlength="8"><br>

    <input type="submit" value="Rekisteröidy">
    
</form>
<script>
    function check(form){
        
        if (form.username.value.length == 0){
            alert("Käyttäjänimi jäi täyttämättä");
            return false;
        }
        if (form.username.value.length > 100){
            alert("Käyttäjänimi on liian pitkä (max 100 chr)");
            return false;
        }
        if (form.password1.value.length > 100){
            alert("Salasana liian pitkä (max 100 chr)");
            return false;
        }
        if  (form.password1.value.length<8){
            alert("Salasana liian lyhyt (min 8 chr)");
            return false;
        }
        if (form.password1.value != form.password2.value){
            alert("Salasanat eivät täsmänneet");
            return false;
        }
        return true;
    }
</script>

<a href="/">Palaa takaisin</a>