<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .box {
        background: greenyellow;
        color: black;
        padding: 20px;
        width: 200px;
    }
</style>

<title>Elokuvakirjasto rekisteröidy</title>

<center><form action="/register" method="post" onsubmit="return check(this)">
    <h1>Rekisteröidy käyttäjäksi!</h1>
    <div class=box>Käyttäjätunnus: <br>
    <input type="text" name="username"> <br>
    <br>
    Salasana (vähintään 8 merkkiä): <br>
    <input type="password" name="password1" minlength="8"><br>
    <br>
    Salasana uudestaan:<br>
    <input type="password" name="password2" minlength="8"><br>
    <br>
    <input type="submit" value="Rekisteröidy">
</div>
    
</form>

<script>
    function check(form){
        
        if (form.username.value.length == 0){
            alert("Käyttäjänimi jäi täyttämättä");
            return false;
        }
        if (form.username.value.length > 100){
            alert("Käyttäjänimi on liian pitkä (max 100 chr)");
            return false;
        }
        if (form.password1.value.length > 100){
            alert("Salasana liian pitkä (max 100 chr)");
            return false;
        }
        if  (form.password1.value.length<8){
            alert("Salasana liian lyhyt (min 8 chr)");
            return false;
        }
        if (form.password1.value != form.password2.value){
            alert("Salasanat eivät täsmänneet");
            return false;
        }
        return true;
    }
</script>
<br>

<a href="/">Palaa takaisin</a>
</center>